body {
  font-family: "Poppins";
  background: #272044;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.img-responsive {
  max-width: 100%;
}
header a {
  text-decoration: none;
  color: black;
}
button {
  padding: 16px 32px;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.7),
      rgba(39, 32, 68, 0.7)
    ),
    url(../images/lisbon-bridge.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 286px 292px;
}
header h1 {
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}
header h2 {
  font-size: 24px;
  letter-spacing: 5px;
  margin: 0;
}
header h3 {
  font-size: 40px;
  font-weight: regular;
}
.grid {
  display: grid;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  grid-gap: 44px;
}
.primary {
  background-color: white;
  padding: 80px 163px;
}
.primary h2 {
  font-size: 16px;
  font-weight: bold;
  color: #272044;
  opacity: 30%;
  letter-spacing: 5px;
  margin: 0 0 10px;
}
.primary h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}
.primary p {
  font-size: 16px;
  font-weight: regular;
  color: #272044;
  opacity: 70%;
  margin: 0;
}
.grid-3-columns-one-narrow {
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(../images/town.png);
  padding: 100px 171px 92px;
}
footer a {
  color: white;
  text-decoration: none;
  opacity: 70%;
}
footer li {
  list-style: none;
}
footer ul {
  padding: 0;
  margin-right: 0;
}
footer h2 {
  font-weight: bold;
  font-size: 20px;
}
footer p {
  font-weight: regular;
  font-size: 16px;
  opacity: 60%;
}
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
    margin-bottom: 15px;
  }
  button {
    padding: 5px;
    font-size: 10px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
