body {
  font-family: "Poppins";
  background: #272044;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.img-responsive {
  width: 100%;
  display: block;
}
header a {
  text-decoration: none;
  color: black;
}
button {
  padding: 16px 32px;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.7),
      rgba(39, 32, 68, 0.7)
    ),
    url(../images/lisbon-bridge.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 286px 292px;
}
header h1 {
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}
header h2 {
  font-size: 24px;
  letter-spacing: 5px;
  margin: 0;
}
header h3 {
  font-size: 40px;
  font-weight: regular;
}
h4 {
  color: #272044;
}
.grid {
  display: grid;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.primary {
  background-color: white;
  padding: 80px 163px;
}
.primary h2,
.secondary h2,
.third h2 {
  font-size: 16px;
  font-weight: bold;
  color: #272044;
  opacity: 30%;
  letter-spacing: 5px;
  margin: 0 0 10px;
}

.primary h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}
.primary p {
  font-size: 16px;
  font-weight: regular;
  color: #272044;
  opacity: 70%;
  margin: 0;
}
.secondary {
  background-color: #f8f8f8;
}
.secondary p {
  opacity: 70%;
  margin-top: 0;
}
.secondary h2 {
  padding: 100px 0 0;
}
.secondary h3 {
  font-weight: bold;
  font-size: 48px;
  margin-top: 7px;
}
.secondary h4 {
  margin-bottom: 5px;
}
.secondary h5 {
  margin-bottom: 5px;
}
.lisbon-description {
  margin-left: 44px;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 15px 171px 100px;
}
.card {
  background-color: white;
  padding: 32px;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.card-header .grid {
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}
.secondary a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}
.secondary button {
  background-color: #462cb2;
  color: white;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
}
.grid-3-columns-one-narrow {
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(../images/town.png);
  padding: 100px 171px 92px;
}
.third {
  background-color: white;
  padding: 70px 170px;
}
.third h3 {
  font-weight: bold;
  font-size: 48px;
  margin-top: 5px;
}
.grid-3-columns-photos,
.grid-3-columns-photos-two {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.grid-3-columns-photos {
  margin-bottom: 20px;
}
footer a {
  color: white;
  text-decoration: none;
  opacity: 70%;
}
footer li {
  list-style: none;
}
footer ul {
  padding: 0;
  margin-right: 0;
}
footer h2 {
  font-weight: bold;
  font-size: 20px;
}
footer p {
  font-weight: regular;
  font-size: 16px;
  opacity: 60%;
}
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
    margin-bottom: 15px;
  }
  button {
    padding: 5px;
    font-size: 10px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .primary {
    padding: 15px;
  }
  .primary img {
    margin-right: 2px;
  }
  .primary h2 {
    margin-top: 15px;
  }
  .primary h3 {
    margin-bottom: 15px;
  }
  .lisbon-description {
    padding: 15px 30px 15px 0;
  }
  .secondary h3 {
    font-size: 40px;
    padding: 15px;
  }
  .secondary h2 {
    padding-top: 25px;
  }
  .grid-3-columns {
    padding: 15px;
  }
  .card img {
    display: none;
  }
  .third {
    padding: 30px 10px 0 10px;
    margin: 0 auto;
  }
  .third h3 {
    font-size: 40px;
  }
  .grid-3-columns-one-narrow {
    padding: 15px;
  }
}
